html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  padding: 20px 20px;
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar .auth {
  float: right;
}

main {
  margin: 30px;
  padding: 0px 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

img {
  max-width: 800px;
  height: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.alert {
  font-size: 18px;
  padding: 20px;
  color: rgb(46, 46, 46);
  margin: 0;
  text-align: center;
  border-radius: 5px;
  border: #646464 1px solid;
}

.alert-success {
  background-color: #4caf4f57;
}

.alert-error {
  background-color: #f443366c;
}

.form {
  padding: 20px;
  background-color: rgb(225, 225, 225);
  border: 1px solid #333;
  border-radius: 5px;
}

.form div {
  margin: 5px 0;
  font-size: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-label {
  font-weight: bold;
  font-size: 22px;
  padding-top: 15px;
  padding-right: 10px;
}

.form-control {
  width: 300px;
  height: 20px;
  font-size: 20px;
  padding: 5px;
  margin: 10px 0;
}

.form-group select {
  height: 32px;
}

.button {
  padding: 7px 17px;
  margin: 5px;
  font-size: 20px;
  background-color: #333;
  color: white;
  border:5px #3e3e3e;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #1c1c1c;
}

#book-list {
  margin: 10px 0;
}

#book-list h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.book {
  border: 1px solid #333;
  background-color: #e1e1e1;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.book .book-title {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.book .book-info {
  font-size: 18px;
  margin: 8px 0;
}

.quantity-input {
  width: 60px;
  font-size: 17px;
  padding: 5px;
  margin-right: 10px;
}

.book .cart-form {
  margin: 0;
  padding: 2px;
  border: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.title-row {
  font-size: 22px;
}

.title-row th {
  padding: 10px;
  text-align: left;
}

.book-row td {
  font-size: 18px;
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}

.book-row:nth-child(even) {
  background-color: #f2f2f2;
}
.book-row:nth-child(odd) {
  background-color: #ffffff;
}

#grandTotal {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
}
