<div class="alerts-container">
  <% if (typeof successMessage !== 'undefined' && successMessage) { %>
    <div class="alert alert-success">
      <p><%= successMessage %></p>
    </div>
  <% } %>

  <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
    <div class="alert alert-error">
      <p><%= errorMessage %></p>
    </div>
  <% } %>
</div>